spring:
  application:
    name: todos-restclient
logging:
  level:
    io.corbs: INFO
server:
  port: 8006
management:
  endpoints:
    web:
      base-path: /ops
      exposure:
        include: '*'
eureka:
  client:
    serviceUrl:
      defaultZone: 'http://localhost:8761/eureka/'
todos:
  api:
    endpoint: http://localhost:8080
